.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  background:rgb(9,46,65) url('../../images/stars.svg') no-repeat ;
  background-repeat: repeat;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home__col img{
  max-width: 420px;
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}